html{
  height: 100%;
}

body{
  margin: 0px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display : grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 13% 25% 31% 31% 0%;
  grid-gap: 1px;
  background-color: #ffd518;
}

body div{
  text-align: center;
  background-color: rgb(29, 29, 29);
  color : #ffd518;
}

#header{
  grid-column: 1 / 3 ;
  grid-row: 1 / 2;
  text-align: right;
  padding-right: 5%;
}

#addContact{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#addContact h2{
  text-align: center;
}

#addContact div label{
  width: 100px;
  display: inline-block;
}

#addContact button{
  margin: 25px;
}

#searchContact{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#edit{
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.hide{
  visibility: hidden;
}

.show
{
  visibility: visible;
}


#edit div label{
  width: 100px;
  display: inline-block;
}

#edit button{
  margin: 25px;
}

#showContacts{
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  overflow-y: auto;
}

#listOfContacts{
  width: 100%;
}

#listOfContacts{
  border-collapse: collapse;
}


#listOfContacts table, th, td{
  border: 0.1px #ffd518 solid;
  border-left: 0px;
}

#footer{
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.errorMessage {
  color:red;
}

#Results
{
  visibility: hidden;
}